
.button{
  border: 3px solid #000000;
  padding: 6px 10px;
  border-radius: 20px;
  font-size: 24px;
  color: #ffffff;
}
.contButton{
  background-color: #000000;
  color: #ffffff;
  font-size: 18px;
}
.country{
  font-size: 20px;
}
.createdBy{
  position: absolute;
  top: 25px;
  right: 50px;
}
.list{
  list-style-type: none;
  width: 200px;
  background-color: #ddddff;
  border-style: solid;
  border-width: 2px;
  margin: 0px;
  padding: 0px;
}
.listItem{
  display: block;
  padding: 5px;

}
.listItem:hover{
  background-color: #2222ff;
  color: #ffffff;
}
.picture1{
  position: absolute;
  left: 650px;
  width: 40%;
  top: 100px;
}
.picture2{
  position: absolute;
  left: 650px;
  width: 40%;
  top: 400px;
}
.picture3{
  position: absolute;
  left: 650px;
  width: 40%;
  top: 700px;
}
